@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* ====================================================================
     * 1. TOKENS DE COLOR (Modo Claro por defecto)
     * ==================================================================== */
    --background: 0 0% 100%; /* #FFFFFF */
    --foreground: 224 71.4% 4.1%; /* #09090b */
    --card: 0 0% 100%; /* #FFFFFF */
    --card-foreground: 224 71.4% 4.1%; /* #09090b */
    --popover: 0 0% 100%; /* #FFFFFF */
    --popover-foreground: 224 71.4% 4.1%; /* #09090b */
    --primary: 346.8 77.2% 49.8%; /* #db2777 */
    --primary-foreground: 355.7 100% 97.3%; /* #fff1f2 */
    --secondary: 220 13% 91%; /* #e4e4e7 */
    --secondary-foreground: 225 7.1% 41.2%; /* #646464 */
    --muted: 220 9.8% 43.9%; /* #64748b */
    --muted-foreground: 220 8.9% 64.9%; /* #94a3b8 */
    --accent: 220 14.3% 95.9%; /* #f1f5f9 */
    --accent-foreground: 222.2 47.4% 11.2%; /* #1e293b */
    --destructive: 0 84.2% 60.2%; /* #ef4444 */
    --destructive-foreground: 210 40% 98%; /* #f8fafc */
    --border: 215 20.2% 65.1%; /* #a1a1aa */
    --input: 215 20.2% 65.1%; /* #a1a1aa */
    --ring: 222.2 84% 4.9%; /* #0c0a09 */
    --radius: 0.5rem;
  }

  .dark {
    /* ====================================================================
     * CONFIGURACIÓN DE TEMA OSCURO
     * ==================================================================== */
    --background: 224 71.4% 4.1%; /* #09090b */
    --foreground: 210 20% 98%; /* #fafafa */
    --card: 224 71.4% 4.1%; /* #09090b */
    --card-foreground: 210 20% 98%; /* #fafafa */
    --popover: 224 71.4% 4.1%; /* #09090b */
    --popover-foreground: 210 20% 98%; /* #fafafa */
    --primary: 346.8 77.2% 49.8%; /* #db2777 */
    --primary-foreground: 355.7 100% 97.3%; /* #fff1f2 */
    --secondary: 215 27.9% 16.9%; /* #27272a */
    --secondary-foreground: 210 20% 98%; /* #fafafa */
    --muted: 215 27.9% 16.9%; /* #27272a */
    --muted-foreground: 215 20.2% 65.1%; /* #a1a1aa */
    --accent: 215 27.9% 16.9%; /* #27272a */
    --accent-foreground: 210 20% 98%; /* #fafafa */
    --destructive: 0 62.8% 30.6%; /* #991b1b */
    --destructive-foreground: 210 20% 98%; /* #fafafa */
    --border: 215 27.9% 16.9%; /* #27272a */
    --input: 215 27.9% 16.9%; /* #27272a */
    --ring: 346.8 77.2% 49.8%; /* #db2777 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
